<script src="/static/js/index.js"></script>

<ul class="navigation">
    {{#each allChannels}}
        <li class="navigation-item {{#if isCurrent}}navigation-item--selected {{/if}}">
            <a href="/channels/{{name}}">{{title}}</a>
        </li>
    {{/each}}
    <li>
        <button id="buttonCreateChannel">Create Channel</button>
    </li>
</ul>

<main class="content">
    <header class="content-header">
        <h3>
            {{currentChannel.title}}
            {{#unless isGeneral}}
                <form action="/channels/remove" method="post">
                    <input type="hidden" name="channelName" value="{{channelName}}">
                    <button type="submit">Remove channel</button>
                </form>
            {{/unless}}
        </h3>
    </header>
    <ul id="listMessageBoard" class="content-body message-board">
        {{#each currentChannel.messages}}
            <li class="message-board-item" data-left="{{left}}" data-top="{{top}}">
                <p class="message-board-item__text">{{text}}</p>
                <div class="message-board-item__author">{{author}}</div>
            </li>
        {{/each}}
    </ul>
</main>

<div id="createMessageModal" class="modal">
    <form id="formCreateMessage" method="post" action="/channels/{{channelName}}/add" class="modal-container">
        <header class="modal-container__header">
            New message
        </header>
        <div class="modal-container__body">
            <div>
                <label for="a">Author:</label>
                <input name="author" id="a" placeholder="Your name ...">
            </div>
            <div>
                <label for="b">Message:</label>
                <textarea name="text" id="b" placeholder="Type message here..."></textarea>
            </div>
            <input type="hidden" id="inputLeft" name="left" value="0">
            <input type="hidden" id="inputTop" name="top" value="0">

        </div>
        <div class="modal-container__footer">
            <button type="submit">Send</button>
        </div>
    </form>
</div>

<div id="createChannelModal" class="modal">
    <form method="post" action="/channels/add" class="modal-container">
        <header class="modal-container__header">
            Add new channel
        </header>
        <div class="modal-container__body">
            <label for="channelTile">Title:</label>
            <input name="title" id="channelTile" placeholder="Channel title ...">
        </div>
        <div class="modal-container__footer">
            <button type="submit">Create</button>
        </div>
    </form>
</div>


